/* ProductPage.css */

/* General Styles */
.product-page a {
  text-decoration: none;
}
  .product-page {
    max-width: 100%;
    margin: 0 auto; /* Center the page horizontally */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    height: 200%;
  }
  
  .prodPageName h5{
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .prodPageName h5{
    text-decoration: none;
  }
  .prodPagePrice{
    color: rgb(37, 113, 176);
    text-decoration: none;
  }


  /* Main Content */
  .main-content {
    margin-top: 60px; /* Space for fixed navbar */
    flex-grow: 1; /* Allow the main content to grow to fill the space */
    padding: 20px;
    width:  100%;  
    height: 100%;
    
  }

  .row-format {
    flex-direction: row;
    display: flex;
  }
  
  .search-image{
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 1;
  }

  .cart-image{
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 2;
  }


  /* Search Bar */
  .search-bar {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    margin-left:31%;
    width: 500px;
    
  }
  
  .search-bar input {
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding-right: 60px;
    
  }

  .searchtext{
    height: 50px;
    max-width: 800px;
  }

  .search-image{
    max-width: 48px;
    position: relative;
    right: 50px;
    cursor: pointer;
  }

  .cart-image{
    max-width: 48px;
    position: relative;
    right: 40px;
    cursor: pointer;
  }
  

  /* Category Filter */
  .category-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  
  .category-filter button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .category-filter button.active {
    background-color: #000000;
    color: white;
  }
  
  .category-filter button:hover {
    background-color: #ddd;
  }
  
  /* Product List */
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    flex-direction: row;
    
  }
  
  /* Product Item */
  .product-item {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 20%;
    height: 21%;
    background-color: #ffffff;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;

  }
  
  .product-item img {
    width: 200px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    /* height: auto; */
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    margin: auto;
  }
  
  .product-item h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
  }
  
  .product-item p {
    font-size: 1em;
    color: #555;
  }
  
  .product-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  .product-picture {
    width: 200px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    object-fit: cover; /* Ensure the image covers the entire area without distortion */
}

  a{
  text-decoration: none;
}
